{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block body %}
 
  

  <div class="bg-titles" style="display:flex;justify-content:center;align-items:center;">
  
  <div class="title-for-page"><b><h1>ABOUT US</h1></b></div>
  <br>
  
  </div>
  <p style="display:flex;justify-content:center;align-items:center;font-size: 50px;">Welcome to Our Restaurant</p>
  <br><br><br><br><br><br>
  <div class="container" style="display:flex;justify-content:center;align-items:center;font-size: 25px;"">
  <p> <b>Owners</b><br> A Naga Neeramitra Reddy<br> Veena Nagar</p>
  </div>

{% endblock %}