{% extends 'base.html' %}
{% block title %}Bill Details{% endblock %}
{% block body %}
    <h3>Bill Details</h3>
    <h5><b>Bill ID:</b> {{bill.bill_id}}</h5>
    <h5><b>Customer:</b> {{bill.cust_id.user.first_name}} {{bill.cust_id.user.last_name}}</h5>
    <div class="container">
      <br>
     <table class="table table-hover">
        <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Price per unit</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
        <tr>
          <td>{{order.item_id.name}}</td>
          <td>{{order.item_id.cost}}</td>
          <td>{{order.quantity}}</td>
          <td>{% widthratio order.quantity 1 order.item_id.cost %}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
<h6><b>Grand Total : </b>Rs.{{bill.total}}</h6>
<br>
<a href="{% url 'bill_pdf' bill.pk %}" class="btn btn-outline-success" role="button">Download Bill</a>
<a href="{% url 'feedback' rest_id=bill.rest_id.rest_id cust_id=bill.cust_id.cust_id bill_id=bill.pk %}" class="btn btn-outline-success" role="button">Review the Restaurant</a>
</div>
{% endblock %}